<html>
  <head>
    <title>Créer un potin</title>
    <link rel='stylesheet' href='/css/style.css'>
  </head>
  <body>
    <div class="card">
      <h1>Crée un potin !</h1>
      <p>Balance ton potin via le formulaire ci-dessous</p>
      <form action='/gossips/new/' method='POST' autocomplete='off'>
        <label for="gossip_author">Saisis ici ton nom :</label> 
        <input type='text' name='gossip_author' id='gossip_author' required/><br/>
        <label for="gossip_content">Balance ton potin :</label> 
        <input type='text' name='gossip_content' id='gossip_content' required/><br/>
        <input type='submit' class='submit-btn' value='Créer un nouveau potin' />
      </form>
    </div>
  </body>
</html>
